// トップページのスタイルシート

#index {
  text-align: center;

  .title {
    color: $primary;
    font-size: 4rem;
  }
  .icon {
    margin: 0 auto;
  }
  .content {
    font-size: 1.4rem;
    margin: 44px 0;
  }
  .news-summary {
    margin-bottom: 44px;
    p {
      margin-bottom: 8px;
    }
  }
  .news-list-summary-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
