// トップページのスタイルシート

#index {
  text-align: center;

  .title {
    color: $primary;
    font-size: 4rem;
  }
  .icon {
    margin: 0 auto;
  }
  .content {
    font-size: 1.4rem;
    margin: 44px 0;
  }
}
